body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cursor-w-resize {
  cursor: w-resize;
}

.cursor-col-resize {
  cursor: col-resize;
}

#scheduler .dx-scheduler-cell-sizes-vertical {
  height: 100px;
}

#scheduler .dx-scheduler-cell-sizes-horizontal {
  width: 150px;
}
